<div class="box">
    
    <div #skills class="texts">
        <p  data-aos="fade-left"
        data-aos-easing="ease-in-back"
        data-aos-duration="500">
            STOS
        </p>
        <p  data-aos="fade-left"
        data-aos-easing="ease-in-back"
        data-aos-duration="500">
            ANGULAR
        </p>
        <p data-aos="fade-left"
        data-aos-easing="ease-in-back"
        data-aos-duration="500">
            RXJS
        </p>
        <!-- <p data-aos="fade-left"
        data-aos-easing="ease-in-back"
        data-aos-duration="500">
            NGXS
        </p> -->
        <p data-aos="fade-left"
        data-aos-easing="ease-in-back"
        data-aos-duration="500">
            TYPESCRIPT
        </p>
        <p data-aos="fade-left"
        data-aos-easing="ease-in-back"
        data-aos-duration="500">
            JAVASCRIPT
        </p>
        <p data-aos="fade-left"
        data-aos-easing="ease-in-back"
        data-aos-duration="500">
            NX                                                                                               
                
        </p>
        <p data-aos="fade-left"
        data-aos-easing="ease-in-back"
        data-aos-duration="500">
            JIRA
        </p>
        <p data-aos="fade-left"
        data-aos-easing="ease-in-back"
        data-aos-duration="500">
            REDMINE
        </p>
        <p data-aos="fade-left"
        data-aos-easing="ease-in-back"
        data-aos-duration="500">
            ADOBE XD & PS
        </p>
    </div>

    <div class="welcome">
        <p data-aos="zoom-out-left"  data-aos-easing="ease-in-back"
        data-aos-duration="500">
            Cześć! Jestem Łukasz <br>
            FRONT-END DEVELOPER
        </p>
        <div class="icons">
            <div class="fb">
                CV
            </div>
            <div class="git">
                <nb-icon icon="github-outline"></nb-icon>
            </div>
            <a class="in" href="https://www.linkedin.com/in/lukaszstojko/"  >
                <!-- <nb-icon icon="linkedin-outline"></nb-icon> -->
                in
            </a>
        </div>
    </div>
    
    <a class="go-down" (click)="onScrollDown()">
        poznaj_mnie
    </a>
</div>