<div class="about">
    <h1 data-aos="fade-bottom"
    data-aos-easing="ease-in-back"
    data-aos-duration="500" 
    class="text-center">Poznaj mnie</h1>

    <div class="row">
        <div class="col-12">
            <p class="text-center"
            data-aos="fade-bottom"
            data-aos-easing="ease-in-back"
            data-aos-duration="500">
                Od 4 lat pracuję, jako Front-end Dev. Tworzyłem lub współpracowałem przy tworzeniu aplikacji <span class="yellow">CRM</span> i <span class="yellow">landing page</span>.<br><br>
                Wszystko to w A<span class="yellow">ng</span>ularze 	&#10084; <br>
                <a (click)="onScroll()">stack powyżej</a> <br><br>
                Preferuję tworzenie stron/aplikacji na podstawie projektów w Adobe XD, ale dlaczego nie miałbym się nauczyć czegoś nowego? :)
            </p>
            <p class="text-center"
            data-aos="fade-bottom"
            data-aos-easing="ease-in-back"
            data-aos-duration="500">
                <span class="wow"> Zróbmy razem efekt <a (click)="onGoToProjects()">WOW</a></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4 class="text-center"
            data-aos="fade-bottom"
            data-aos-easing="ease-in-back"
            data-aos-duration="500">
            Jeśli chcesz współpracować... napisz na linked<a href="https://www.linkedin.com/in/lukaszstojko/" target="_blank" class="yellow--big">in</a>
            </h4>
        </div>
    </div>

    <div class="row separator">
        <div class="col-12">
            <div class="separator__element"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1 data-aos="fade-bottom"
            data-aos-easing="ease-in-back"
            data-aos-duration="500" 
            class="text-center mb-0">Projekty</h1>
        </div>
    </div>

</div>